github "DaveWoodCom/XCGLogger"
github "devxoul/Then"
github "hyperoslo/Cache"
github "keitaoouchi/MarkdownView"
github "kishikawakatsumi/SpreadsheetView"
github "malcommac/SwiftDate"
github "onevcat/Kingfisher"
github "ReactiveX/RxSwift"
github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"
github "to4iki/OctavKit"
github "yannickl/QRCodeReader.swift"
github "xmartlabs/XLPagerTabStrip"
