github "DaveWoodCom/XCGLogger"
github "devxoul/Then"
github "keitaoouchi/MarkdownView"
github "kishikawakatsumi/SpreadsheetView"
github "malcommac/SwiftDate"
github "onevcat/Kingfisher"
github "to4iki/OctavKit"
github "yannickl/QRCodeReader.swift"
github "xmartlabs/XLPagerTabStrip"